/* 
https://stackoverflow.com/questions/23400234/centering-brand-logo-in-bootstrap-3-navbar
*/

/* Remember: at time of writing Ali dosen't want any backgrounds for the about/booking/contact section etc. Keep this in mind
*/

@media only screen and (max-width:479px){
   .img-responsive {
      width:100%;
      height:auto;
    }
}

.nav .active {
margin-right: 12px; 
  
}

.duck {
  display: inline;
list-style-type: none;
margin-left: 58%;
margin-right: -48%;   
padding-left: 0px;
padding-right: 40px; 
}



.no-padding {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

@media only screen and (max-width:479px){
   .img-responsive {
      width:100%;
      height:auto;
    }
}

html {
  overflow-x:hidden;
}

.jumbotron {
background-color: #fff; 
height: 100%;
 margin-right: -10px;
  margin-left: -10px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 13px;
}

.navbar-fixed {
width: 100%;
height: 100%;
text-align: center;
margin-top: -40px;   
}




/* This section is for your logo */


.active {  
font-size: 35px;   
text-align: center;
display: inline;
list-style-type: none;
margin-left: 2%;
margin-right: 5%; 
  
}

/* text decoration kills the booking problem but not long term
*/

.nav li.active a {
text-decoration: none;  
color: #006699;   
}

.test {
text-align: center;
font-family: 'Open Sans';
font-size: 40px;
color: #006699;  
}

.test1 {
text-align: left;  
}

.hero {
  background-color: #ffffff;
  padding: 0 90px; 
margin-right: -10px;
  margin-left: -10px;
  padding-top: 13px;  
}

.list-inline-item1 {
display: inline;
list-style-type: none;
margin-left: 48%;
margin-right: -49%;   
padding-left: 0px;
padding-right: 40px;  
}


.icons {
display: inline;
list-style-type: none;
margin-left: -45%;
margin-right: -49%;   
padding-left: 0px;
padding-right: 40px;     
}

.tweets {
display: inline;
list-style-type: none;
margin-left: 49%;
margin-right: -49%;   
padding-left: 0px;
padding-right: 40px;     
}

.list-inline-item {
 display: inline;
text-align: center;
font-family: arabic;
 font-size: 20px; 
}


.complex {
display: inline;
list-style-type: none;
    text-align: center;
  margin-left: 41%;
margin-right: -48%;   
padding-left: 0px;
padding-right: 40px;
}


